@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arimo);

.active {
	background-color: #cac3d5 !important;
}

body {
	font-family: 'Arimo', Helvetica Neue, Helvetica, sans-serif;
}

.carousel {
	height: 210px;
}
.carousel-item {
	border: solid 1px;
	color: black;
}

#emailText {
	padding-left: 14px;
}

#faxNum {
	padding-left: 10px;
}

a:hover, a:link {
	text-decoration: none;
}


#jp, #us {
	height: 155px;
}

#jp, #jpBody, #jpFooter {
	background-color: #A692AB;
}

#jpBody {
	color: white;
}

#jpCopyright {
	color: white;
}

#jpnflag {
	height: 1.2em;
	border: solid 1px;
}

.jp-icon {
	color: #554a69;
}

.jp-icon, .us-icon {
	margin-bottom: 20px; 
}

.jp-icon-text {
	color: white;
}

.jp-icon-text, .us-icon-text {
	display: inline;
}

.jplink.active, .enlink.active, .jplink:hover, .enlink:hover {
	border-radius: 10%;
}

#jpSubtitle, #usSubtitle {
	font-size: 30px;
	margin-top: 0;
}

#jpTitle, #usTitle {
	font-size: 44px;
	margin-bottom: 0;
}

.language {
	position: absolute;
	right: 70px;
}

#linkedinText {
	padding-left: 19px;
}

.enlink, .language {
	color: black;
}

.listItem {
	margin-top: 71px;
}


.mainLogo {
	position: absolute;
	width: 120px;
	top: 15px;
	left: 50px;
}

.material-icons {
	color: black;
	margin-top: 30px;
	margin-left: 10px;
}

#nav-mobile {
	margin-right: 50px;
}

#phoneNum {
	padding-left: 17px;
}

.textbody {
	font-size: 16px;
}

.titles {
	font-family: 'PT Serif', Helvetica Neue, Helvetica, serif;
	text-align: center;
	position: absolute;
	top: 24px;
	left: 160px;
	font-variant: small-caps;
}

#us {
	background-color: white;
}

#usCopyright {
	color: #9487ab;
}

#usflag {
	height: 1em;
}

#usFooter {
	background-color: white !important;
}

.us-icon {
	color: #9487ab;
}

.us-icon-text {
	color: black;
}

#usSubtitle, #usTitle {
	color: #5E5274;
}

@media screen and (max-width: 768px) {

	.mainLogo {
		width: 100px;
		top: 13px;
		left: -150px;
	}
	#jp, #us {
		height: 120px;
	}
	#jpTitle, #usTitle {
		font-size: 34px;
	}
	#jpSubtitle, #usSubtitle {
		font-size: 20px;
	}
	.titles {
		width: 250px;
		left: -90px;
	}
}