@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arimo);

.active {
	background-color: #cac3d5 !important;
}

body {
	font-family: 'Arimo', Helvetica Neue, Helvetica, sans-serif;
	font-size: 16px;
}

.contactHead {
	margin-top: 30px;
}

#contact-info {
	max-width: 75em;
}

.jpnNum {
	padding-right: 0;
}

.fa-linkedin {
	padding-left: 2.3px;
	padding-right: 2.3px;
}

.fa-mobile {
	padding-left: 5.75px;
	padding-right: 5.75px
}

.fa-phone {
	padding-left: 3.5px;
	padding-right: 3.5px;
}

.fa-phone, .fa-fax, .fa-envelope, .fa-linkedin {
	padding-top: 16px;
}

footer {
	margin-top: 110px !important;
}

a:hover, a:link {
	text-decoration: none;
}

.jp-icon-link {
	color: white;
}

.jp-icon-link:hover i {
	color: #302a3c;
}

.us-icon-link {
	color: black;
}

.us-icon-link:hover i {
	color: #554a69;
}

#jp, #jpBody, #jpFooter {
	background-color: #A692AB;
	color: white;
}

#jpCopyright {
	color: white;
}

#jpnflag {
	height: 1.2em;
	border: solid 1px;
}

.jp-icon {
	color: #554a69;
}

.jp-icon, .us-icon {
	margin-bottom: 20px;
}

.jp-contact-info {
	padding-left: 17px;
}

.jp-contact-info, .us-contact-info {
	display: inline;
}

.jplink:hover, .uslink:hover {
	border-radius: 10%;
}



.language {
	position: absolute;
	right: 70px;
}

.language, .uslink {
	color: black;
}

.material-icons {
	color: black;
	margin-top: 30px;
	margin-left: 10px;
}

#nav-mobile {
	margin-right: 50px;
}

#navbar {
	background-color: white;
}

.footer-text {
	color: #9487ab;
}

#usFooter {
	background-color: white !important;
}

.us-icon {
	color: #9487ab;
}

.us-contact-info {
	padding-left: 17px;
}

#usSubtitle, #usTitle {
	color: #5E5274;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}
.flex-item {
	max-width: 100%;
}
.cell {
	width: calc(50% - 1em);
	margin: 0.5em;
}
.cell .img {
	display: block;
}
.bg {
	background-color: #A692AB;
	min-width: 100%;
}

.mainLogo {
	position: absolute;
	width: 100px;
	top: 13px;
	left: -150px;
}
#navbar {
	height: 130px;
}
.navbar-title {
	font-size: 30px;
	margin-bottom: 0;	
}
.navbar-subtitle {
	font-size: 22px;
	margin-top: 0;
}

#title-div {
	font-family: 'PT Serif', Helvetica Neue, Helvetica, serif;
	text-align: center;
	position: absolute;
	width: 250px;
	top: 24px;
	left: -80px;
	font-variant: small-caps;
	color: #5E5274;
}
.list-item {
	display: list-item;
}

@media screen and (min-width: 600px) {
	.cell {
		width: calc(33.33333% - 1em);
	}
}

@media screen and (min-width: 1000px) {
	.cell {
		width: calc(25% - 1em);
	}
	.mainLogo {
		width: 120px;
		top: 15px;
		left: 50px;
	}
	#navbar {
		height: 155px;
	}
	.navbar-subtitle {
		font-size: 28px;
	}

	.navbar-title {
		font-size: 40px;
	}
	#title-div {
		left: 160px;
	}
}

@media screen and (min-width: 1500px) {
	.cell {
		width: calc(20% - 1em);
	}
}
