<header></header>
<main>
<div class="container template-body">
	<h5>Please call or email us with your questions or inquiries.</h5>

	<div class="textbody">
		<p>Shining Prince Entertainment LLC</p>
		<p>Geoffrey Bossiere, Founder & CEO</p>
		<div id="icon-div">
			<i class="fa fa-phone fa-2x us-icon"></i>
			<p class="us-icon-text" id="phoneNum">+1-310-237-5548</p>
			<br>
			<i class="fa fa-fax fa-2x us-icon"></i>
			<p class="us-icon-text" id="faxNum">+1-866-548-0556</p>
			<br>
			<a class="icon-link" href="mailto:gpb@shiningprince.com"><i class="fa fa-envelope fa-2x us-icon"></i>
			<p class="us-icon-text" id="emailText">click to email</p></a>
			<br>
			<a class="icon-link" target="_blank" href="https://www.linkedin.com/profile/view?id=AAkAAAAUc5cBG7LAbKr268uqmIACxs3WMiY1RHg&authType=NAME_SEARCH&authToken=vbJZ&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A1340311%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1450744364664%2Ctas%3Ageoffrey"><i class="fa fa-linkedin fa-2x us-icon"></i>
			<p class="us-icon-text" id="linkedinText">LinkedIn</p></a>
		</div>
	</div>
</div>
</main>