<div class="container template-body">
	<h5 class="contactHead">Please call or email us with your questions or inquiries.</h5>

	<div class="textbody">
		<p>Shining Prince Entertainment LLC</p>
		<p>Geoffrey Bossiere, Founder & Principal</p>
		<div id="icon-div" class="row">
			<div class="col-xs-12 col-md-6">
				<i class="fa fa-mobile fa-3x us-icon"></i>
				<p class="us-icon-text" id="faxNum">+1-310-500-7258</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<i class="fa fa-mobile fa-3x us-icon"></i>
				<p class="us-icon-text" id="phoneNum">+81-80-3128-7589</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<i class="fa fa-phone fa-2x us-icon"></i>
				<p class="us-icon-text" id="phoneNum">+1-310-237-5548</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<i class="fa fa-fax fa-2x us-icon"></i>
				<p class="us-icon-text" id="faxNum">+1-866-548-0556</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<a class="icon-link" href="mailto:gpb@shiningprince.com"><i class="fa fa-envelope fa-2x us-icon"></i>
				<p class="us-icon-text" id="emailText">Email</p></a>
			</div>
			<div class="col-xs-12 col-md-6">
				<a class="icon-link" target="_blank" href="https://www.linkedin.com/in/gbossiere"><i class="fa fa-linkedin fa-2x us-icon"></i>
				<p class="us-icon-text" id="linkedinText">LinkedIn</p></a>
			</div>
		</div>
	</div>
</div>