<main>
	<div class="container template-body">
		<h3>About</h3>
		<div class="textbody">
			<p>Consulting services company specializing in distribution and marketing of theatrical, home media and digital filmed entertainment. Japan & Asia focused. Experience in managing and developing theatrical distribution operations, home media distribution operations, and online on-demand digital streaming services. Also specialize in market entry for new entertainment related products & services.</p>

			<p>We have been advancing the business interests of clients in Asia since our founding in 2004 with a proven track record of success.</p>
		</div>

		<h4>Selected Clients</h4>
		<p class="center-align directions">(Click to scroll)</p>
		<p class="center-align mobileDirections">(Swipe to scroll)</p>
		
		<div class="carousel">
			<a class="carousel-item"><img src="img/clients/DW_homeEnt.gif"></a>
		    <a class="carousel-item"><img src="img/clients/paramount.jpg"></a>
		    <a class="carousel-item"><img src="img/clients/DW_skg.jpg"></a>
		    <a class="carousel-item"><img src="img/clients/imax.jpg"></a>
		    <a class="carousel-item"><img src="img/clients/hulu.jpg"></a>
		    <a class="carousel-item"><img src="img/clients/rentrak.png"></a>
		    <a class="carousel-item"><img src="img/clients/vnet.png"></a>
		</div>
	</div>
</main>