
<div class="container template-body">
	<h3>About</h3>
	<div class="textbody">
		<p>Consulting services company specializing in distribution and marketing of theatrical, home media and digital filmed entertainment. Japan & Asia focused. Experience in managing and developing theatrical distribution operations, home media distribution operations, and online on-demand digital streaming services. Also specialize in market entry for new entertainment related products & services.</p>

		<p>We have been advancing the business interests of clients in Asia since our founding in 2004 with a proven track record of success.</p>

		<p>Lorem ipsum dolor sit amet, ius dicunt alienum et, essent mediocrem quaerendum eum ne. Ne sanctus efficiendi instructior ius, id meliore volumus has. No natum probo explicari qui, erant vituperata scriptorem sea in. Eu epicuri voluptatibus definitiones mel. Duo ut erat dicunt.

		Eu essent platonem expetendis mea, movet lucilius salutandi ad est. Volumus insolens necessitatibus sit ne. Malis inani platonem vel et, malis populo in pro. Vim eu platonem gubergren. Eam tollit percipitur ut. Modus vocibus vix eu.

		Quo minimum scriptorem id, commodo tritani vocibus an sed. Vim explicari definiebas cu. Vix ea tota vituperata. Sit copiosae volutpat elaboraret te, partem instructior ex mei, adhuc elitr vix ne. Has id illum oporteat deterruisset. Ex mazim harum dignissim sit, dicant suscipit mediocrem usu ne, per gubergren maiestatis in.

		Ex fabellas qualisque est. Ei vel dolore laoreet, nam at quidam repudiare. Ei paulo volumus nostrum sed. Esse duis tota ad sit, sit ei omnes virtute pertinacia. Homero vocibus ceteros ex per, ex sit oratio maluisset.

		Vis ne quis fastidii, minim aliquid tractatos no nam. Quo mutat falli numquam ad, zril persius partiendo et nam, qui cu purto assueverit intellegebat. In sea adhuc repudiandae, mazim graeco et usu. Evertitur omittantur cum ut. Invidunt corrumpit ut sed, veri fabellas maiestatis te vis. Sed eu autem splendide sadipscing.</p>
	</div>

	<h4>Selected Clients</h4>
<!-- 	<div class="carousel">
		<a class="carousel-item" ng-repeat="img in imgs | orderBy: random"><img ng-src="{{img.imgPath}}"></a>
	</div> -->

		<a class="carousel-item"><img src="img/clients/DW_homeEnt.gif"></a>
	    <a class="carousel-item"><img src="img/clients/paramount.jpg"></a>
	    <a class="carousel-item"><img src="img/clients/DW_skg.jpg"></a>
	    <a class="carousel-item"><img src="img/clients/imax.jpg"></a>
	    <a class="carousel-item"><img src="img/clients/hulu.jpg"></a>
	    <a class="carousel-item"><img src="img/clients/rentrak.png"></a>
	    <a class="carousel-item"><img src="img/clients/vnet.png"></a>
	</div>
</div>
