<div class="container template-body">
	<h5 class="contactHead">Please call or email us with your questions or inquiries.</h5>

	<div class="textbody">
		<p>シャイニング・プリンス・ジャパン合同会社</p>
		<p>ボシエール・ジェフリー, Founder & CEO</p>
		<div id="icon-div">
			<div class="col-xs-12 col-md-6">
				<i class="fa fa-mobile fa-3x jp-icon"></i>
				<p class="jp-icon-text" id="phoneNum">+81-80-3128-7589</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<i class="fa fa-mobile fa-3x jp-icon"></i>
				<p class="jp-icon-text" id="faxNum">+1-310-500-7258</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<i class="fa fa-phone fa-2x jp-icon"></i>
				<p class="jp-icon-text" id="faxNum">+81-3-6337-2081</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<a class="jp-icon-link" href="mailto:gpb@shiningprince.com"><i class="fa fa-envelope fa-2x jp-icon"></i>
				<p class="jp-icon-text" id="emailText">メール</p></a>
			</div>
			<div class="col-xs-12 col-md-6">
				<a class="jp-icon-link" target="_blank" href="https://www.linkedin.com/in/gbossiere"><i class="fa fa-linkedin fa-2x jp-icon"></i>
				<p class="jp-icon-text" id="linkedinText">LinkedIn（リンクとイン）</p></a>
			</div>
		</div>
	</div>
</div>